# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE
.idea/
.vscode/

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# Operating System
.DS_Store
Thumbbs.db